{# This example contains the backend implementation! #}
{% extends 'base.html' %}

{% load material_form %}
{% load staticfiles %}

{% block content %}

  {# Initialize the dynamic addition JS  #}
  {# Please do not forget to include the jquery-1.11.0.min.js. In this case it is already present in base.html #}
  <script src="{% static "js/dynamic_formsets.js" %}"></script>
  <script type="text/javascript">
    $(function () {
      $('.add-row').click(function () {
        return addForm(this, 'example_2_formset');
      });
      $('.delete-row').click(function () {
        deleteForm(this, 'example_2_formset');
      })
    })
  </script>
  <h4 style="text-align: center"> Form with actual saving!</h4>
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    {# Setup the management form to track number of TOTAL_FORMS, INITIAL_FORMS etc..  #}
    {{ example_2_formset.management_form }}

    {# Contruct a table using your form. One col contains the form. The other one contains the delete button to delete this form   #}
    <table class="table table-striped" id="dynamic_form_table">
      <tbody>
      {% for form in example_2_formset.forms %}
        <tr class="dynamic-form">
          <td class="col-sm-8">
            {% form form=form %}
            {% endform %}
          </td>

          <td id="delete-button" class="col-sm-4">
            <button id="remove-{{ form.prefix }}-row"
                    class="delete-row btn">Delete
            </button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {# The add button to dynamically add the form   #}
    <div class="container">
      <button class="add-row btn mx-auto" id="center-button">+ Add Brand
      </button>
      <br>
      <code>Don't worry. Not a single thing will be sent to me. This is just a demo.</code>
    </div>

    <div class="card">
      <button type="submit" class="btn btn-lg" id="center-button">Submit</button>
    </div>
  </form>

  <br>
  <br>
  {# Table that simply displays the existing data in the Example2Model #}
  <div class="container">
    <h6 style="text-align: center; font-weight: bold">Data saved so far</h6>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email ID</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
      </tr>
      </thead>
      <tbody>
      {% for data in existing_example_2_data %}
        <tr>
          <td> {{ data.name }} </td>
          <td> {{ data.email }}</td>
          <td> {{ data.address }}</td>
          <td> {{ data.phone_number }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
  {# The empty form that gets added to the HTML once add button is clicked #}
  <table class="table table-striped">
    <tbody>
    <tr class="dynamic-form-adder col-sm-8" style="display: none">
      <td>
        {% form form=example_2_formset.empty_form %}
        {% endform %}
      </td>
      <td id="delete-button" class="col-sm-2">
        <button id="remove-{{ example_2_formset.prefix }}-__prefix__-row"
                class="delete-row btn">Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>

{% endblock %}
